name: Test

on:
  push:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yaml
  pull_request:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yaml
  workflow_dispatch: {}
  schedule:
    # Run every 27 hours to avoid running at the same time every day
    - cron: "40 12 * * 1-5"

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}

env:
  FORCE_COLOR: 1
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.18
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.32.0
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.29.0

jobs:
  typing:
    name: Typing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        id: setup-python
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: ${{ env.UV_VERSION }}
      - env:
          UV_PYTHON: ${{ steps.setup-python.outputs.python-version }}
        run: >
          uvx
          --with tox-uv==${{ env.TOX_UV_VERSION }}
          --with tox==${{ env.TOX_VERSION }}
          tox -e typing

  test:
    name: Pytest (Python ${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.python-version == '3.14' }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        include:
          - python-version: "3.14"
            os: "windows-latest"

          - python-version: "3.14"
            os: "macos-latest"

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        id: setup-python
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: ${{ env.UV_VERSION }}
      - run: >
          uvx
          --with tox-uv==${{ env.TOX_UV_VERSION }}
          --with tox==${{ env.TOX_VERSION }}
          tox -e ${{ matrix.python-version }}
        env:
          UV_PRERELEASE: "allow"
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          include-hidden-files: true
          name: coverage-data-${{ matrix.os }}-py${{ matrix.python-version }}
          path: ".coverage.*"

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: coverage-data-*
          merge-multiple: true
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: ${{ env.UV_VERSION }}
      - name: Combine coverage data and generate report
        run: >
          uvx
          --with tox-uv==${{ env.TOX_UV_VERSION }}
          --with tox==${{ env.TOX_VERSION }}
          tox -e coverage
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
